@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

.restrict-line {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
 }
 .line-1{
    -webkit-line-clamp: 1;
            line-clamp: 1;
 }
 .line-2{
    -webkit-line-clamp: 2;
            line-clamp: 2;
 }

 .placeholder-dark::placeholder{
   color: white;
 }